/* $text: #88c; */
/* $bg: #181B28; */
/* $text-selected: #181b28; */
/* $bg-selected: #88c; */
/* $border: #313244; */
* {
  all: unset;
  font-family: "FiraCode Nerd Font";
  font-weight: bold;
}

window#waybar {
  background: none;
}

#tray menu,
tooltip {
  font-size: 14px;
  background: #181b28;
  border: inset 4px #313244;
  color: #88c;
  border-radius: 15px 0;
  padding: 10px;
}

#tray menu > separator {
  background-color: #313244;
  margin: 4px 0;
  padding: 1px 5px;
}

#tray menu > menuitem {
  background-color: #181b28;
  color: #88c;
  border-radius: 15px 0;
  padding: 4px;
  margin: 2px 0;
  transition: background-color 0.25s;
  transition: border-radius 0.25s;
  transition: color 0.25s;
}

#tray menu > menuitem:hover {
  background-color: #88c;
  color: #181b28;
  border-radius: 0;
  transition: background-color 0.25s;
  transition: border-radius 0.25s;
  transition: color 0.25s;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #181b28;
    background-color: #88c;
}

#tray {
  margin: 0px 0px 5px 0px;
  font-size: 14px;
  padding: 0 12px;
  border: inset 4px #313244;
  border-radius: 25px 0;
  background-color: #181b28;
  color: #88c;
  transition: background-color 0.25s;
  transition: border-radius 0.25s;
}

#tray button:hover {
  background-color: #88c;
  color: #181b28;
  border-radius: 0px;
  transition: background-color 2.0s;
  transition: border-radius 0.25s;
}
