* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode Nerd Font";
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding-left: 7px;
  padding-right: 10px;
  color: #313244;
  margin-right: 8px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
}

#workspaces button.urgent {
  animation: urgent 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes urgent {
  0% {
    color: #313244;
  }
  50% {
    color: #f6e3a1;
  }
  100% {
    color: #313244;
  }
}

#workspaces button:hover {
  background: rgba(49, 50, 68, 0);
  color: #dde6f4;
}

#window,
#clock,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray {
  background: #1e1e2e;
  opacity: 1;
  padding: 2px 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  border: 1px solid #181825;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
  margin-left: 5px;
  font-size: 23px;
}

#window {
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: #fab387;
  margin-right: 5px;
}

#network {
  color: #f9e2af;
  border-right: 0px;
}

#network.disconnected {
  color: #fff;
  animation: disconnected 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes disconnected {
  0% {
    background: #1e1e2e;
  }
  50% {
    background: #d53333;
  }
  100% {
    background: #1e1e2e;
  }
}

#bluetooth {
  color: #89b4fa;
  border-left: 0px;
}

#pulseaudio {
  color: #89b4fa;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  border-left: 0px;
}
