/* $text: #88c; */
/* $bg: #181B28; */
/* $text-selected: #181b28; */
/* $bg-selected: #88c; */
/* $border: #313244; */

window {
  margin: 0px;
  /* border: 4px solid #313244; */
  background: transparent;
  /* background-color: #181b28; */
  border-radius: 25px;
  font-family: FiraCode Nerd Font;
  font-weight: bold;
  font-size: 1em;
}

#input {
  padding: 10px;
  border: inset 4px;
  border-color: #313244;
  border-radius: 25px;
  color: #88c;
  background-color: #181b28;
  outline: none;
  margin: 10px;
  margin-bottom: 2px;
}

#inner-box {
  border: none;
  color: #88c;
  background-color: transparent;
}

#outer-box {
  /* border: 4px inset #313244; */
  /* background-color: #181b28; */
  background: transparent;
  border-radius: 25px 0;
}

#scroll {
  border: none;
  padding: 10px;
}

#img {
  background-color: transparent;
}

#text {
  margin: 0px 10px;
  border: none;
  font-weight: bold;
  background-color: transparent;
  color: #88c;
}

#text:selected {
  color: #181b28;
}

#entry {
  margin: 4px 0px;
  border: 4px inset #313244;
  border-radius: 25px;
  padding: 10px;
  background-color: #181b28;
  transition: background-color 0.25s;
  transition: border-radius 0.25s;
}

#entry:selected {
  margin: 4px 0px;
  color: #181b28;
  background-color: #88c;
  transition: background-color 0.25s;
  transition: border-radius 0.25s;
}
