/* $text: #88f; */
/* $bg: #112; */
/* $text-selected: #112; */
/* $bg-selected: #88f; */
/* $border: #335; */

window {
  margin: 0px;
  /* border: 4px solid #335; */
  background: transparent;
  /* background-color: #112; */
  border-radius: 25px;
  font-family: FiraCode Nerd Font;
  font-weight: bold;
  font-size: 1em;
}

#input {
  padding: 10px;
  border: inset 4px;
  border-color: #335;
  border-radius: 25px;
  color: #88f;
  background-color: #112;
  outline: none;
  margin: 10px;
  margin-bottom: 2px;
}

#inner-box {
  border: none;
  color: #88f;
  background-color: transparent;
}

#outer-box {
  /* border: 4px inset #335; */
  /* background-color: #112; */
  background: transparent;
  border-radius: 25px 0;
}

#scroll {
  border: none;
  padding: 10px;
}

#img {
  background-color: transparent;
}

#text {
  margin: 0px 10px;
  border: none;
  font-weight: bold;
  background-color: transparent;
  color: #88f;
}

#text:selected {
  color: #112;
}

#entry {
  margin: 4px 0px;
  border: 4px inset #335;
  border-radius: 25px;
  padding: 10px;
  background-color: #112;
  transition: background-color 0.25s;
  transition: border-radius 0.25s;
}

#entry:selected {
  margin: 4px 0px;
  color: #112;
  background-color: #88f;
  transition: background-color 0.25s;
  transition: border-radius 0.25s;
}
